// Place all the styles related to the manager/artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artists {

input[type="text"] {
width: 300px;
height: 40px;
}

.search {
	float: right;
}

.search-form {
	float: right;
}

.artist-registration-btn {
position: relative;
top: 20px;
left: 80px;
}

.pagination {
float: right;
}

.back-to-top {
font-size: 15px;
position: relative;
top: 10px;
left: 180px;
}

.artist-update-btn {
position: relative;
top: 36px;
left: 150px;
}

.artist-destroy-btn {
position: relative;
left: 250px;
}

}