// Place all the styles related to the manager/artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artists {

input[type="text"] {
width: 300px;
height: 40px;
}

.search {
	float: right;
}

.search-form {
	float: right;
}

.artist-registration-btn {
position: relative;
top: 20px;
left: 120px;
}

.pagination {
  justify-content: center;
  color:black;
  text-decoration:none;
}

.error_explanation{
	color:red;
	text-align:center;
}
.title{
	margin:50px 0px 0px 0px;
}
.border{
	border:1px solid #ced4da;
	border-radius:5px;
	margin-top:50px;
}
.m-box{
	font-size:18px;
}
.leave-space{
	margin:30px 0px;
}
.m-space{
	margin:8px 8px;
	text-align:center;
}
.leave-btn{
	margin:30px 0px;
}
.button {
	text-align:center;
}
.back_to_index {
	margin-left: auto;
	font-size:15px
}

}