// Place all the styles related to the manager/categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.categories {

input[type="text"] {
width: 300px;
height: 40px;
}

.search {
	float: right;
}

.category-registration-btn {
	position: relative;
	top: 20px;
	left: 80px;
}


.back-to-top {
	font-size: 15px;
	position: relative;
	top: 10px;
	left: 180px;
}


.category-update-btn {
	position: relative;
	top: 36px;
	left: 150px;
}

.category-destroy-btn {
    position: relative;
    left: 250px;
}

.pagination {
  justify-content: center;
  color:black;
  text-decoration:none;
}

}