// Place all the styles related to the manager/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products{

	input[type="number"] {
		width: 40px;
	}

	.page-title {
		margin-top: 30px;
		margin-bottom: 20px;
	}



	.temp th {
		width: 30%;
	}

	.product-show {
		margin-top: 20px;
	}

	.product-menu {
		margin-top: 30px;
		font-size: 18px;
	}

	.product_title {
		width: 300px;
		height: 40px;
	}

	.recording_time {
		width: 50px;
		height: 30px;
	}

	strong {
		color: red;
	}

	.artist_name {
		margin-top: 10px;
		margin-bottom: 50px;
	}

	.product_info {
		margin-top: 60px;
		margin-bottom: 100px;
	}

	.product_price {
		width: 100px;
		height: 30px;
	}

	.song_title {
		width: 300px;
		height: 30px;
	}

	.under-line {
		padding: 8px;
		border-bottom: solid 1px silver;
	}

	.dashed-line {
		padding: 10px;
		border-bottom: dashed 2px silver;
		margin-bottom: 30px;
	}

	.border {
		border: solid 1px silver;
	}

	.caution {
		color: red;
		margin-top: 50px;
		margin-left: 10px;
	}

	.new {
		display: inline-block;
		margin-right: 20px;
	}

	.select-quantity {
		margin-top: 50px;
	}
}
