.error-message{
	color:red;
}
.title{
	margin:50px 0px 0px 0px;
}
.border{
	border:1px solid #ced4da;
	border-radius:5px;
	margin-top:50px;
}
.m-box{
	font-size:18px;
}
.leave-space{
	margin:30px 0px;
}
.m-space{
	margin-bottom:5px;
}
.leave-btn{
	margin:30px 0px;
}