.registrations{

	//新規登録
	.error-message{
		color:red;
		margin:50px 0px 0px 30px;
	}
	.title{
		margin:50px 0px 0px 0px;
	}
	.new-contents{
		margin:30px 0px;
	}
	.input-head{
		width:180px;
	}
	.input-group{
		margin-bottom:5px;
	}
	.signup-btn{
		margin:30px 0px;
	}

	//確認画面
	.tr-th{
		width:250px
	}
	.tr-td{
		width:400px;
	}
	.confirm-btn{
		margin:0px 30px;
	}
}