// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.customers{

	.addresses-box{
		height:120px;
		margin:10px 5px 10px 5px;
		border:1px solid #000;
		border-radius:10px
	}
	.lr-space{
		margin:5px 10px;
	}

}