<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Disky</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">ホーム</a></li>
      <li><a href="#">ユーザ名</a></li>
      <li><a href="#">My&emsp;page</a></li>
      <li><a href="#">カートを見る</a></li>
    </ul>
  </div>
</nav>