<h1>商品一覧ページ</h1>
<h2>新着商品</h2>
<div class ="new_arrivals">
	<div class="new_arrival">
		<p>CDジャケット画像</p>
		<P>タイトル名</P>
		<p>アーティスト名</p>
		<p>商品ステータス</p>
	</div>
</div>
<% if customer_signed_in? %>
  <li class="">
    <%= link_to ' logout', destroy_customer_session_path, method: :delete, class: "glyphicon glyphicon-log-out" %>
  </li>
  <% else %>
  <li class="">
    <%= link_to " Home", root_path, class: "glyphicon glyphicon-home" %>
  </li>
<% end %>